# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'File'
    'submenu': [
      'label': 'New File'
      'command': 'new-file-plus:toggle'
    ]
  }
]

'context-menu':
    '.tree-view.full-menu': [
        {'label': 'New File(+)', 'command': 'new-file-plus:add-file'}
        {'label': 'New Folder(+)', 'command': 'new-file-plus:add-folder'}
    ]
